@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  height: 100%;
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1;
}

.navigation-logo:focus {
  outline: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 238px;
  width: 460px;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.navigation-link:hover {
  color:#615048;
}

.navigation-link:focus {
  outline: none;
  color:#615048;
}

.navigation-user .navigation-link:focus {
  outline: 2px solid #83b3d3;
  color: #e5e5e5;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  left: 16px;
  bottom: 0;
  content: "";
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  max-width: 337px;
  padding: 0;
  margin-left: auto;
}

.navigation-link.search-icon,
.navigation-link.favorites-icon {
  min-width: 44px;
  min-height: 64px;
  padding: 0;
}

.search-icon {
  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-icon {
  position: relative;
  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-icon span {
  position: absolute;
  top: 11px;
  right: 4px;
  padding: 5px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #f2f2f2;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  align-self: center;
  margin-left: 20px;
}

/* Кнопки */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user .button:hover {
  color: #f2f2f2;
}

.navigation-user .button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.choose-button {
  width: 160px;
}

.button-reset {
  background-color: transparent;
  border: 3px transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.button-reset:active {
  background-color: transparent;
  opacity: 0.3;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover,
.button-green:focus {
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
  color: #ffffff4d;
}

.button-gray {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  color: #333333;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.hero-container {
  position: relative;
  background-image: url("../img/jpeg/index_background.jpg");
  background-color: #3f5e72;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  text-align: center;
}

.hero-container::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../img/svg/divider_header.svg");
  background-position: center;
}

.hero-welcome-logo {
  padding: 51px 0 78px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 69px 290px 0 290px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
  padding-left: 275px;
  padding-right: 270px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item-container {
  position: relative;
  width: 400px;
}

.advantages-image-container {
  display: block;
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.advantages-item-image {
  display: block;
  width: auto;
  height: 100%;
}

.advantages-item-town,
.advantages-item-bridge {
  display: flex;
  flex-grow: 1;
  margin-right: auto;
}

.advantages-item-middle-row-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-darkblue-container {
  padding-top: 92px;
  padding-bottom: 111px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-lightblue-container {
  padding-top: 103px;
  padding-bottom: 121px;
  background-color: rgba(131, 179, 211, 0.1);
}

.advantages-item-blue-container {
  padding-top: 103px;
  padding-bottom: 121px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-icon-container {
  padding-top: 182px;
  padding-bottom: 81px;
}

.advantages-item-title {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  padding-left: 114px;
  padding-right: 114px;
}

.advantages-item-description {
  position: relative;
  width: 230px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.horizontal-divider::before {
  position: absolute;
  content: "";
  top: -32px;
  left: 170px;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.horizontal-divider-gray::before {
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item-lodging,
.advantages-item-food,
.advantages-item-souvenirs {
  position: relative;
  margin-bottom: 30px;
}

.advantages-item-lodging::before {
  position: absolute;
  content: " ";
  width: 75px;
  height: 72px;
  top: -103px;
  left: 162px;
  background-image: url("../img/svg/advantage_icon_1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item-food::before {
  position: absolute;
  content: " ";
  width: 75px;
  height: 72px;
  top: -103px;
  left: 162px;
  background-image: url("../img/svg/advantage_icon_2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item-souvenirs::before {
  position: absolute;
  content: " ";
  width: 75px;
  height: 72px;
  top: -103px;
  left: 162px;
  background-image: url("../img/svg/advantage_icon_3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-search {
  padding: 97px 304px;
}

.hotels-search-title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotels-search-description {
  width: 592px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotels-search-link {
  width: 376px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.search-button {
  display: flex;
  justify-content: center;
}

.page-main-subscription {
  background-color: #3f5e72;
}

.subscription {
  padding: 96px 0 104px;
  background-image: url(../img/jpeg/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 397px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-text {
  margin: 0;
  margin-bottom: 54px;
  padding: 0 362px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.inner-subscription {
  background-image: none;
}

.inner-subscription h2,
.inner-subscription p {
  color: #000000;
}

.subscription-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  border-radius: 4px;
}

.subscription-form .field {
  flex-grow: 1;
  margin: 0;
  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f2f2f2;

}

.subscription-input:focus {
  outline: 3px solid #83b3d3;
}

.subscription-button {
  width: 232px;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 45px 70px 35px 70px;
}

.footer-social {
  margin-right: 236px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 144px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list-item {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.social-list-link {
  padding-top: 10px;
}

.social-link-icon {
  fill: #83b3d3;
}

.social-link-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link-icon:hover {
  fill: #68a2ca;
}

.social-list-link:focus svg {
  fill: #68a2ca;
}

.social-list-link:focus {
  outline: none;
}

.contacts-phone {
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  width: 115px;
  margin-left: 234px;
}

.copyright-logo {
  fill: #000000;
}

.copyright-link:focus svg {
  fill: #756157;
}

.copyright-link:focus {
  outline: none;
}

.copyright-logo:hover {
  fill: #756157;
}

.copyright-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.hotels-catalog {
  width: 1200px;
  background-image: url(../img/jpeg/filter_background.jpg);
  background-size: cover;
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-position: center 0;
  color: #ffffff;
}

.inner-header-container {
  padding: 35px 70px 0 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  font-style: normal;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
  opacity: 1;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 28px;
  background-image: url("../img/svg/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

.home-icon {
  padding-left: 12px;
  padding-top: 3px;
  width: 13px;
  height: 20px;
  background-image: url("../img/svg/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-catalog-filter-container {
  width: 1060px;
  padding: 0 70px 70px 70px;
}

.hotels-catalog-filter {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.left-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
}

.right-column-container {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.catalog-filter-group {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  border: none;
}

.catalog-filter-group-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../img/svg/check_mark.svg");
  background-repeat: no-repeat;
  background-position: left 4px center;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-radio-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-input[type="radio"]:checked + .control-radio-mark {
  background-image: url("../img/svg/radio_mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:focus + .control-radio-mark {
  outline: 3px solid #83B3D3;
}

.range-inputs-container {
  position: relative;
  display: flex;
  width: 288px;
  margin-bottom: 42px;
}

.range-input {
  width: 143px;
  padding: 14px 20px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font: inherit;
  -moz-appearance: textfield;
}

.range-input-container {
  position: relative;
}

.range-input-container:first-child {
  margin-right: 2px;
}

.min-input {
  position: relative;
  border-radius: 4px 0 0 4px;
}

.max-input {
  border-radius: 0 4px 4px 0;
}

.left-label {
  position: absolute;
  top: 13px;
  right: 19px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.right-label {
  position: absolute;
  top: 13px;
  right: 19px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.range-input:focus {
  outline: 3px solid #83b3d3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-group-button {
  width: 191px;
}

.catalog-filter-group-button:first-child {
  margin-top: 96px;
  margin-bottom: 32px;
}

/* Сортировка */

.catalog-sorting {
  display: flex;
  padding: 50px 70px 40px 70px;
}

.catalog-sorting-text {
  margin: 0;
  margin-top: 7px;
  margin-right: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.view-option-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  width: 160px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-option-link-current {
  border: 2px solid #000000;
}

.view-option-link:hover {
  border: 2px solid #000000;
}

.view-option-link:focus {
  border: 2px solid #68a3ca;
  outline: none;
}

.view-option-link:active {
  border: 2px solid #000000;
}

.view-option-link:hover
.view-option-link:active {
  border: 2px solid #000000;
}

.select-control-container {
  position: relative;
}

.select-control {
  margin: 0;
  margin-right: 70px;
  padding: 12px 17px;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
}

.select-control-container::after {
  position: absolute;
  top: 20px;
  right: 89px;
  content: "";
  width: 12px;
  height: 8px;
  background-image: url("../img/svg/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.catalog-card-container {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.catalog-card-container::after {
  position: absolute;
  content: "";
  width: 1060px;
  height: 0;
  bottom: -40px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 18px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.catalog-card-item {
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-card-item-container {
  display: grid;
  grid-template-areas:
    "image image"
    "type price"
    "more favorites"
    "rating-icon rating";
  gap: 16px;
  padding: 20px;
}

.catalog-card-link {
  grid-area: image;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.catalog-card-link:focus {
  outline: none;
}

.catalog-card-title {
  order: 1;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.catalog-card-image {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-card-type {
  grid-area: type;
  margin: 0;
  color: #333333;
}

.catalog-card-price {
  grid-area: price;
  justify-self: end;
  margin: 0;
  color: #333333;
}

.catalog-card-button-more,
.favorites-button,
.catalog-card-rating {
  width: 140px;
}

.catalog-card-button-more {
  grid-area: more;
  justify-self: flex-start;
  text-decoration: none;
}

.catalog-card-button-more:focus {
  background-color: #615048;
}

.favorites-button {
  grid-area: favorites;
  justify-self: end;
}

.rating-icon {
  grid-area: rating-icon;
  background-image: url("../img/svg/star_icon.svg");
  background-repeat: space no-repeat;
  background-position: 0 8px;
}

.five-star {
  width: 107px;
}

.four-star {
  width: 89px;
}

.three-star {
  width: 66px;
}

.two-star {
  width: 42px;
}

.one-star {
  width: 30px;
}

.catalog-card-rating {
  grid-area: rating;
  justify-self: end;
  margin: 0;
}

.pagination-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
  padding-left: 12px;
  padding-right: 12px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.pagination-more {
  padding-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

/* Модальое окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  padding: 64px 70px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/svg/close_mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: none;
  border: 3px solid #68a2ca;;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-hotels-search {
  width: 717px;
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.modal-hotels-search-form {
  display: flex;
  flex-direction: column;
}

.date-container {
  position: relative;
  margin-bottom: 24px;
}

.date-label {
  display: flex;
  justify-content: space-between;
}

.label-text {
  padding-right: 18px;
  padding-bottom: 5px;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.input-field {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.date-input {
  width: 440px;
  margin: 0;
  margin-bottom: 3px;
  padding: 12px 34px 12px 20px;
}

.date-input:hover {
  background: #e6e6e6;
}

.date-input:focus {
  outline: 3px solid #82b3d3;
}

.date-input:active {
  outline: 2px solid #000000;
}

.date-picker-button {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/date_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.form-message {
  margin: 0;
  padding: 0;
  padding-left: 157px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.error-message {
  color: #ff5757;
}

.guests-number-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.adults-container {
  width: 247px;
  display: flex;
  justify-content: space-between;
}

.children-container {
  width: 242px;
  display: flex;
  justify-content: space-between;
}

.guests-label {
  position: relative;
  padding-top: 10px;
}

.guests-input {
  width: 110px;
  margin: 0;
  padding: 12px 40px;
  text-align: center;
  -moz-appearance: textfield;
}

.guests-input:focus {
  outline: 3px solid #82b3d3;
}

.guests-input::-webkit-outer-spin-button,
.guests-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  position: absolute;
  display: block;
  top: 10px;
  left: -40px;
  width: 26px;
  height: 26px;
  background-image: url("../img/svg/info_sign.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 50px;
  left: -160px;
  width: 256px;
  padding: 22px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  z-index: 2;
  box-sizing: border-box;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../img/svg/triangle.svg");
  left: 0;
  right: 0;
  bottom: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:focus {
  outline: none;
}

.input-container {
  position: relative;
  width: 110px;
}

.controls-container {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.input-control-button-container {
  width: 40px;
  height: 48px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.input-control-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 0.3;
  border: none;
}

.min-control-button::before {
  position: absolute;
  top: 21px;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #000000;
  background-position: center;
  transform: translateX(-50%);
}

.max-control-button::before {
  position: absolute;
  top: 15px;
  right: 19px;
  content: "";
  width: 2px;
  height: 14px;
  background-color: #000000;
  transform: rotate(-90deg);
}

.max-control-button::after {
  position: absolute;
  top: 15px;
  right: 19px;
  content: "";
  width: 2px;
  height: 14px;
  background-color: #000000;
}

.input-control-button:hover {
  opacity: 1;
}

.input-control-button:focus {
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.input-control-button:active {
  opacity: 0.3;
}

.modal-search-button {
  padding: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  border-radius: 10px;
}
